:root {
  --primary-color: #eceae4;
  --secondary-color: #b9cea4;
  --bs-body-font-family: Lora, -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji,
    Segoe UI Symbol, Noto Color Emoji;
}

body {
  background-image: linear-gradient(
      rgba(15, 16, 16, 0.8),
      rgba(15, 16, 16, 0.8)
    ),
    url(images/bg.png);
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  margin: 0;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

p {
  margin: 30px 0;
}

.secondary-color,
h3 {
  color: var(--secondary-color);
}

.primary-color,
h2 {
  color: var(--primary-color);
}
.bg-faded {
  background-color: var(--primary-color);
}

.secondary-muted {
  color: rgba(185, 206, 164, 0.6);
}

h3,
.h3,
h2,
.h2,
h1,
.h1 {
  margin-top: 0;
  margin-bottom: 8px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  line-height: 1.2;
}

.site-heading {
  margin-top: 80px;
  margin-bottom: 60px;
  text-transform: uppercase;
  line-height: 1;
  color: var(--primary-color);
}
.site-heading .site-heading-upper {
  display: block;
  font-size: 2rem;
  font-weight: 800;
}
.site-heading .site-heading-lower {
  font-size: 80px;
  font-weight: 100;
  line-height: 4rem;
  color: var(--primary-color);
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: 8px 16px;
  font-size: 20px;
  color: var(--primary-color);
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}
footer,
#mainNav {
  background-color: #111d0d;
  font-family: "Raleway", sans-serif;
}
#mainNav .navbar-brand {
  color: var(--primary-color);
}
#mainNav .navbar-nav .nav-item .nav-link {
  color: var(--secondary-color);
  font-weight: 700;
}

.social-links a {
  margin: 0 18px;
  padding: 10px 15px;
  font-size: 20px;
  color: #111d0d;
  background-color: var(--secondary-color);
  border-radius: 50%;
  border: 1px solid var(--secondary-color);
  transition: all 100ms ease-in-out;
}
.social-links a:hover {
  color: var(--secondary-color);
  background: #111d0d;
}

.btn-secondary {
  background-color: var(--primary-color);
  color: #111d0d;
  border: #111d0d 1px solid;
  display: inline-block;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  padding: 10px 20px;
  text-decoration: none;
}
.btn-secondary:hover {
  background-color: #111d0d;
  color: var(--primary-color);
  border: var(--primary-color) 1px solid;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Homepage content */

.homepage-container {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.left {
  width: 70%;
  height: 800px;
  background: url(images/me.png) no-repeat center/cover;
  border-radius: 8px;
}

.right {
  width: 60%;
  min-height: 500px;
  background-color: #111d0d;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border-radius: 8px;
  color: var(--primary-color);
  margin-left: -90px;
}

.right .site-heading-lower {
  font-size: 60px;
  font-weight: 100;
}

@media (max-width: 768px) {
  .homepage-container {
    flex-direction: column;
    width: 100%;
  }
  .left {
    height: 600px;
    width: 90%;
    margin: 0 20px;
  }
  .right {
    width: 70%;
    margin: 0;
    margin-top: -80px;
    height: 400px;
  }
  .right .site-heading-lower {
    font-size: 40px;
  }
}

/* About Page */

.my-story-wrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.my-story-title,
.my-goals-title {
  font-size: 50px;
  font-weight: 200;
  color: var(--primary-color);
}

.my-story-text,
.my-goals-text {
  color: var(--secondary-color);
}

@media only screen and (min-width: 768px) {
  .my-story-wrapper {
    flex-direction: row;
  }
  .my-story-img,
  .my-story-content {
    flex: 1;
  }
  .my-story-text {
    max-width: 800px;
  }
}

.my-goals-content {
  text-align: left;
}

.my-goals-imgs-wrapper img {
  object-fit: cover;
}

.my-goals-imgs-wrapper {
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-row: auto;
  gap: 16px;
}

.my-goals-img1 {
  grid-row: 1/3;
}

@media only screen and (min-width: 768px) {
  .my-goals-content {
    text-align: center;
  }
  .my-goals-imgs-wrapper {
    gap: 16px;
  }
  .my-goals-text {
    margin: 0 auto;
  }
}

/* Portfolio page content */

h2 span {
  font-style: italic;
  font-size: 30px;
}

.projects {
  padding: 100px 0;
}

.projects .item {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 900px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.projects .item-left {
  flex: 1;
}
.projects .item-right {
  flex: 1;
  margin-left: -50px;
  padding: 30px 35px;
  background-color: #111d0d;
  border-radius: 8px;
  box-shadow: 0 0 20px #00000028;
  z-index: 2;
}

.projects .item:nth-child(even) {
  flex-direction: row-reverse;
}

.projects .item:nth-of-type(even) .item-right {
  margin-left: 0;
}
.projects .item:nth-of-type(even) .item-left {
  margin-left: -50px;
}

.projects .item .item-left .img {
  height: 500px;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0px 0px 20px #4705fc33;
  position: relative;
}

.projects .item .item-left .img img {
  object-fit: cover;
  transition: 0.3s ease transform;
}

.projects .item:hover .item-left .img img {
  transform: scale(1.1);
  z-index: 1;
}

.project-title,
.learn-more-title {
  font-weight: 200;
  margin-bottom: 1px;
}

.project-sub-title,
.learn-more-sub {
  font-weight: 200;
  font-style: italic;
  font-size: 28px;
  opacity: 60%;
}

.project-button {
  background-color: var(--primary-color);
  color: #111d0d;
  border: #111d0d 1px solid;
  display: inline-block;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  padding: 8px 15px;
  text-decoration: none;
}
.project-button:hover {
  background-color: #111d0d;
  color: var(--primary-color);
  border: #111d0d 1px solid;
}
.item-right p {
  font-size: 15px;
}

@media only screen and (max-width: 768px) {
  .projects .item {
    flex-direction: column;
  }
  .projects .item .item-left {
    width: 90%;
  }
  .projects .item .item-right {
    margin-left: 0;
    width: 80%;
    margin-top: -60px;
  }
  .projects .item:nth-of-type(even) {
    flex-direction: column;
  }
  .projects .item:nth-of-type(even) .item-left {
    margin-left: 0;
  }
  .project-sub-title {
    font-size: 18px;
  }
  .project-title {
    font-size: 27px;
  }
}
@media only screen and (max-width: 450px) {
  .projects .item .item-right .buttons {
    flex-direction: column;
  }
  .projects .item .item-right .buttons a {
    width: 100%;
    text-align: center;
    margin-bottom: 3px;
  }
}

/* Contact Page */

#form {
  padding: 100px 0;
}
.form-title {
  font-size: 50px;
  font-weight: 200;
}
.form-wrapper {
  background-color: #111d0d;
  padding: 30px 50px;
  border-radius: 8px;

}
.form-wrapper form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}
.form-group label {
  color: var(--secondary-color);
}
.form-group input,
.form-group textarea {
  width: 100%;
  border: none;
  background-color: var(--primary-color);
  border-radius: 8px;
  color: #111d0d;
  padding: 8px;
}

.form-wrapper button[type='submit'] {
  width: max-content;
}

@media only screen and (min-width: 768px) {
  .form-wrapper form {
    grid-template-columns: 1fr 1fr;
  }
  .form-group-full {
		grid-column: 1/3;
}

/* Learn More Pages*/

.hero .container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero .container .learn-more-left {
  flex: 7;
  background-color: #111d0d;
  padding-right: 100px;
  padding-left: 30px;
  padding-top: 20px;
  border-radius: 8px;
}

.hero .container .learn-more-right {
  flex: 5;
  margin-left: -50px;
}

.hero .learn-more-left span,
li {
  font-size: 17px;
  line-height: 1.8;
}

.learn-more-right .buttons {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 768px) {
  .hero .container {
    flex-direction: column;
  }
  .hero .container .learn-more-left {
    width: 90%;
    margin-bottom: 10px;
    text-align: center;
    padding-right: 30px;
  }
  .hero .container .learn-more-right img {
    display: none;
  }
  .hero .container .learn-more-right {
    display: flex;
    justify-content: center;
    margin-left: 0;
  }
  .hero .container .learn-more-left ul {
    text-align: left;
    padding-left: 0;
  }
  .hero .container .learn-more-left .col-right {
    padding-right: 5px;
  }
}
